[submodule "order-service"]
	path = order-service
	url = git@github.com:marzelwidmer/order-service.git
	branch = fabric8
[submodule "customer-service"]
	path = customer-service
	url = git@github.com:marzelwidmer/customer-service.git
	branch = fabric8
[submodule "catalog-service"]
	path = catalog-service
	url = git@github.com:marzelwidmer/catalog-service.git
	branch = fabric8
