[submodule "order-service"]
	path = order-service
	url = git@github.com:marzelwidmer/order-service.git
	branch = master
[submodule "customer-service"]
	path = customer-service
	url = git@github.com:marzelwidmer/customer-service.git
	branch = master
[submodule "catalog-service"]
	path = catalog-service
	url = git@github.com:marzelwidmer/catalog-service.git
	branch = master
[submodule "spring-cloud-gateway"]
	path = spring-cloud-gateway
	url = git@github.com:marzelwidmer/spring-cloud-gateway.git
	branch = master
